.box {
    border-style: solid;
    border-width: 0.5em;
    border-color: yellow;
    border-radius: 1em;

    padding: 0.5em;
    max-width: 20em;

    background-color: red;
    color: yellow;

    text-align: center;
    user-select: none;

    transition-duration: 250ms;
}

.box:hover {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: yellow;
    color: red;
}

.title {
    margin-bottom: 0.5em;

    font-family: 'Red October';
    font-size: 2em;
    font-weight: bold;
}

.description {
    font-family: 'Roboto Mono';
}
