@font-face {
    font-family: 'RedOctober';
    src: url('../public/fonts/RedOctober.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('../public/fonts/RobotoSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'RobotoSlab';
}