@font-face {
    font-family: 'Red October';
    src: url('../public/fonts/RedOctober.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Red October Light';
    src: url('../public/fonts/RedOctoberLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Light';
    src: url('../public/fonts/RobotoSlabLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../public/fonts/RobotoSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url('../public/fonts/IBMPlexSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header-navbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: red;
}

* {
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'IBM Plex Serif';
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
    display: block;
    background-color: #fefdfc;
}

main {
    padding-left: 12px;
    height: 100%;
} main h1 {
    margin-bottom: 10px;
}

h1 {
    font-family: 'IBM Plex Serif', Arial;
    color: red;
}

h2 {
    font-family: 'IBM Plex Serif', Arial;
    color: black;
    font-size: 22px;
}

h4 {
    font-family: 'IBM Plex Serif', Arial;
    color: black;
    font-size: 8px;
    font-weight: bold;
}

header {
    overflow: hidden;
    /* margin-right: -20px;
    margin-left: -20px; */
    margin-bottom: 25px;
    border-color: #FFFF00;
    border-bottom-style: solid;
    background-color: #F00000;
    width: 100%;
    max-height: 5%;
} header h1 {
    font-family: 'Red October', Arial;
    color: yellow;
    text-align: center;
    font-size: 50px;
}

