@font-face {
    font-family: 'RedOctober';
    src: url('../public/fonts/RedOctober.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('../public/fonts/RobotoSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'RobotoSlab';
}

body {
    margin: 0;
}

main {
    padding-left: 12px;
} main h1 {
    margin-bottom: 10px;
}

h1 {
    font-family: 'RedOctober', Arial;
    color: yellow;
    text-align: center;
}

header {
    overflow: hidden;
    /* margin-right: -20px;
    margin-left: -20px; */
    margin-bottom: 25px;
    border-color: #FFFF00;
    font-family: 'Fira Code', 'Arial', monospace;
    border-bottom-style: solid;
    background-color: #F00000;
    width: 100%;
    max-height: 5%;
}
